.App-header {
  width: 100vw;
  display: flex;

  .App-logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
  }
  .nav-menu {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0.7;

    li {
      display: flex;
      margin-left: 60px;
      a {
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
}
